{% extends "base.html" %}

{% block title %}
People List
{% endblock %}

{% block index %} 
<div class="span-18 generic_container">
	<div class="page_header">
		<h2>Edit account info for {{ account.site_name }}</h2>
	</div>
	<div class="span-7 container_inner">
		<form action="/{{ account }}/settings/" method="POST">{% csrf_token %}
				<div class="setting-labels span-2">Avatar</div>
				<div class="setting-forms span-5 last">
					<img src="{{ user.get_profile.profile_image }}" />
					<span class="quiet">(bmstock.com uses Gravatar for profile images)</span>
				</div>
				{% for field in form %}
					<div class="setting-fields span-7">
						<div class="setting-labels span-2">
							{% if field.field.required %}
								<strong>{{ field.label }}</strong>
							{% else %}
								{{ field.label }}
							{% endif %}<br />
						</div>
						<div class="setting-forms span-5 last">
							{{ field }}
						</div>
					</div>
				{% endfor %} 
				<hr class="space" />
				<div class="span-2 setting-labels">
					<a href="/{{ account }}/">Cancel</a>
				</div>
				<div class="span-5 last">
				    <input type="submit" value="Submit" />
				</div>
		</form>
	</div>
</div>
<div class="span-5 sidebar sidebar-buttons last">
	<ul>
		<li><a href="/{{ account }}/">Dashboard</a></li>
		<li><a href="/{{ account }}/companies/new/">Add a New Company</a></li>
	</ul>
</div>
{% endblock %}