{% extends "base.html" %}

{% block title %}
Edit Profile
{% endblock %}

{% block index %} 
<div class="span-18 generic_container">
	<div class="page_header">
		<h2>Edit account info for {{ user.get_full_name }}</h2>
	</div>
	<div class="span-7 container_inner">
		<form action="/{{ account }}/people/{{ user.id }}/edit/" method="POST">{% csrf_token %}
				<strong>Profile Picture</strong><br />
				<img src="{{ user.get_profile.profile_image }}" /><br />
				<span class="quiet">(bmstack.com uses Gravatar for profile images)</span>
				{% for field in user_form %}
					<div class="setting-fields span-7">
						{% if field.field.required %}
							<strong>{{ field.label }}</strong>
						{% else %}
							{{ field.label }}
						{% endif %}<br />
						{{ field }}
					</div>
				{% endfor %}
				{% for field in form %}
					<div class="setting-fields span-7">
						{% if field.field.required %}
							<strong>{{ field.label }}</strong>
						{% else %}
							{{ field.label }}
						{% endif %}<br />
						{{ field }}
					</div>
				{% endfor %} 
				<hr class="space" />
				<div class="setting-fields span-7">
				    <input type="submit" value="Submit" />
					<hr class="space" />
					<a href="/{{ account }}/">Cancel</a>
				</div>
		</form>
	</div>
</div>
<div class="span-5 sidebar sidebar-buttons last">
	<ul>
		<li><a href="/{{ account }}/">Dashboard</a></li>
		<li><a href="/{{ account }}/companies/new/">Add a New Company</a></li>
	</ul>
</div>
{% endblock %}