{% extends "base.html" %}

{% block title %}
Invite User
{% endblock %}

{% block index %}
<div class="span-18 generic_container">
	<div class="page_header">
		<h2>Invite User</h2>
		
		<ul class="container_nav">
			<li><a href="/{{ account }}/">Projects</a></li>
			<li><a href="/{{ account }}/companies/">People</a></li>
		</ul>
	</div>
	<div class="container_inner">
		<form action="/{{ account }}/companies/{{ company_id }}/people/new/" method="POST">{% csrf_token %}
			<p>Enter new user's name and email below. When you click Send Invite an email invitation will be sent to that user's email account.</p>
		             {{ form.as_p }}
		             <input type="submit" value="Send Invite" />
		</form>
	</div>
</div>
<div class="span-5 sidebar sidebar-buttons last">
	<p>Sidebar</p>
</div>
{% endblock %}